<ul>
    <li><a href="/">Home</a></li>
</ul>

<main>
    <h1>Дмитрий Косников</h1>
    <h2>Будущий Rails-разработчик</h2>
    <hr>
    <section>
        <h2>Ключевые навыки:</h2>
        <ul>
            <li>Ruby On Rails</li>
            <li>Ruby</li>
            <li>C#</li>
            <li>JavaScript</li>
        </ul>
    </section>
    <section>
        <h2>Обо мне</h2>
        <p>Студент 4 курса "Курского Государственного университета. Проходил стажировку в компании Норбит.</p>
    </section>
</main>